@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    protected async override Task OnInitializedAsync()
    {
        await BootstrapCss.SetBootstrapCss("4.5.0");
    }

}